{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7", "firefox >= 44"]
      },
	    "modules": false
    }]
  ],
  "plugins": [
    "external-helpers",
    "babel-plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}