{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7", "firefox >= 44"]
      },
	  "modules": false
    }]
  ],
  "plugins": [
    "external-helpers"
  ]
}