{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "vars-on-top": 2,
    "no-undef": 2,
    "no-console": 0,
    "indent": ["error", 2, {
      "VariableDeclarator": {
        "var": 2,
        "let": 2,
        "const": 3
      },
      "SwitchCase": 1
    }],
    "quotes": ["error", "single"],
    "prefer-arrow-callback": ["error", { "allowUnboundThis": false }]
  }
}